
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-color:  rgba(26,27,31,255);}
/* background-color: rgba(26,27,31,255);} */
/* //background-color: black;} */




/* important */
 /* "styles": [
   "src/custom-theme.scss",
   "src/styles.css"
 ], */